.textQuote {
    background-color: var(--color-reverse);
    padding: var(--space-xl) var(--space-l);
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    padding: var(--space-xl) 0;
    max-width: 1024px;
    width: 100%;
}