.radioButton {
    border-radius: 0px;
    background-color: transparent;
    border: 1px solid var(--color-ink);
    border-radius: var(--rounded-small);
    outline: none;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.input {
    margin-left: var(--space-xs);
    cursor: pointer;
}

.label {
    flex: 1 0 auto;
    padding: var(--space-xs);
    cursor: pointer;
}
