.previewText {
    background-color: var(--color-reverse);
    padding: var(--space-l) var(--space-l);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-xl);
}

.preview {
    flex: 1 1 50%;
    aspect-ratio: 1 / 1;
    background-color: var(--color-ink);
    color: var(--color-reverse);
    border-radius: var(--rounded-large);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: var(--space-xl);
}

.settings {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    text-align: left;
}

.styleButtons {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    gap: var(--space-xs);
}

.styleButtons > * {
    flex: 1 0 auto;
}