.textImage {
    width: 100%;
    background-color: var(--color-reverse);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: var(--space-l);
    gap: var(--space-xl);
}

.text {
    flex: 1 1 50%;
    max-width: 500px;
}

.image {
    flex: 0 1 50%;
    min-width: 0;
    border-radius: var(--rounded-large);
}