.previewImage {
    background-color: var(--color-reverse);
    padding: var(--space-l) var(--space-l);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-xl);
}

.settings {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    text-align: left;
    max-width: 350px;
}