.previewImage {
    background-color: var(--color-reverse);
    padding: var(--space-l) var(--space-l);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-xl);
}

.preview {
    position: relative;
    flex: 1 1 50%;
    aspect-ratio: 1 / 1;
    background-color: var(--color-light);
    border-radius: var(--rounded-large);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: var(--space-xl);
    color: var(--color-secondary);
    overflow: hidden;
}

.image {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;

}

.settings {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}