.fullBleed {
    background-color: var(--color-reverse);
    padding: var(--space-l);
}

.fullBleedInner {
    position: relative;
    height: 90dvh;
    overflow: hidden;
    border-radius: var(--rounded-large);
    display: flex;
    justify-content: center;
    align-items: center;
}

.backgroundImage {
    position: absolute;
    object-fit: cover;
    min-width: 100%;
}

.text {
    max-width: 800px;
}