.fullBleed {
    background-color: var(--color-reverse);
    padding: var(--space-l);
}

.fullBleedInner {
    position: relative;
    height: 90dvh;
    overflow: hidden;
    border-radius: var(--rounded-large);
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    min-width: 100%;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}