:root {
    /* Animation Settings */
    --move-amount: 60px;
    --skew-amount: 3deg;
    --scale-amount: 1.2;
    --blur-amount: 40px;
}

.anim--fade {
    opacity: 0;
    transition: none;
    will-change: opacity;
}

.anim--fade.visible {
    opacity: 1;
    transition: opacity var(--transition-long);
}

.anim--fade-up {
    opacity: 0;
    transform: translateY(var(--move-amount));
    will-change: opacity, transform;
    transition: none;
}

.anim--fade-up.visible {
    opacity: 1;
    transform: translateY(0px);
    transition: opacity var(--transition-long), transform var(--transition-long);
}

.anim--zoom {
    opacity: 0;
    transform: scale(var(--scale-amount));
    will-change: opacity, transform;
    transition: none;
}

.anim--zoom.visible {
    opacity: 1;
    transform: scale(1);
    transition: opacity var(--transition-long), transform var(--transition-long);
}

.anim--skew {
    opacity: 0;
    transform: skewY(var(--skew-amount)) translateY(var(--move-amount));
    transition: none;
    will-change: opacity, transform;
}

.anim--skew.visible {
    opacity: 1;
    transform: skewY(0deg) translateY(0px);
    transition: opacity var(--transition-long), transform var(--transition-long);
}

.anim--blur {
    opacity: 0;
    filter: blur(var(--blur-amount));
    will-change: opacity, filter;
    transition: none;
}

.anim--blur.visible {
    opacity: 1;
    filter: blur(0px);
    transition: opacity var(--transition-long), filter var(--transition-long);
}