:root {
    /* Animation Settings (Overriden by GlobalState.jsx) */
    --image-anim-duration: 0.5s;
    --text-anim-duration: 0.5s;

    --move-amount: 60px;
    --skew-amount: 3deg;
    --scale-amount: 1.2;
    --blur-amount: 40px;

    --duration: var(--text-anim-duration);
}

.anim-text {
    --duration: var(--text-anim-duration);
}

.anim-image {
    --duration: var(--image-anim-duration);
}

.anim--fade {
    opacity: 0;
    transition: none;
    will-change: opacity;
}

.anim--fade.visible {
    opacity: 1;
    transition: opacity var(--duration) var(--anim-easing);
}

.anim--fade-up {
    opacity: 0;
    transform: translateY(var(--move-amount));
    will-change: opacity, transform;
    transition: none;
}

.anim--fade-up.visible {
    opacity: 1;
    transform: translateY(0px);
    transition: opacity var(--duration) var(--anim-easing), transform var(--duration) var(--anim-easing);
}

.anim--zoom {
    transform: scale(var(--scale-amount));
    will-change: transform;
    transition: none;
}

.anim--zoom.visible {
    transform: scale(1);
    transition: transform var(--duration) var(--anim-easing);
}

.anim--zoom-fade {
    opacity: 0;
    transform: scale(var(--scale-amount));
    will-change: opacity, transform;
    transition: none;
}

.anim--zoom-fade.visible {
    opacity: 1;
    transform: scale(1);
    transition: opacity var(--duration) var(--anim-easing), transform var(--duration) var(--anim-easing);
}

.anim--skew {
    opacity: 0;
    transform: skewY(var(--skew-amount)) translateY(var(--move-amount));
    transition: none;
    will-change: opacity, transform;
}

.anim--skew.visible {
    opacity: 1;
    transform: skewY(0deg) translateY(0px);
    transition: opacity var(--duration) var(--anim-easing), transform var(--duration) var(--anim-easing);
}

.anim--blur {
    opacity: 0;
    filter: blur(var(--blur-amount));
    will-change: opacity, filter;
    transition: none;
}

.anim--blur.visible {
    opacity: 1;
    filter: blur(0px);
    transition: opacity var(--duration) var(--anim-easing), filter var(--duration) var(--anim-easing);
}