h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-top: 0;
  font-size: max( var(--fluid-font-size), calc(var(--font-size-mobile) * 1px) );
}

h1,
.h1 {
  --font-size-desktop: 120;
  --font-size-mobile: 46;
  font-family: 'Teodor', serif;
  font-weight: 200;
  letter-spacing: -0.06em;
  line-height: 1.1;
  margin: 0 0 0.1em 0;
}

h2,
.h2 {
  --font-size-desktop: 82;
  --font-size-mobile: 40;
  font-family: 'Teodor', serif;
  font-weight: 200;
  letter-spacing: -0.06em;
  line-height: 1.1;
  margin: 0 0 0.1em 0;
}

h3,
.h3 {
  --font-size-desktop: 42;
  --font-size-mobile: 32;
  font-weight: 300;
  letter-spacing: 0em;
  line-height: 1.1;
  margin: 0 0 0.1em 0;
}